header {
    background: #0f6ffd;
    padding: 2em;
    text-align: center;
    width: 100vw; 
}

header div h3 {
    text-align: center;
    text-justify: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 150px;
    background: #0f6efdab;
    
}